* {
  margin: 0;
}

body{
  background-image: url('./img/watercolor-back-school-background_52683-68646.webp');
  background-size: 100vw 100vh;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.header{
  text-align: center;
  background-color:rgb(250, 190, 137);
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  border: 3px solid rgb(245, 161, 5);
}

.to-do {
  width: 700px;
  margin: 50px;
  border-radius: 20px;
  border: 3px solid rgb(245, 161, 5);
  background-color:rgb(255, 228, 204);
  
}

.input-wrapper{
  /* text-align: center; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color:rgb(250, 190, 137);
  border-radius: 20px;
  border: 3px solid rgb(245, 161, 5);
}

.input-fields {
  display: flex;
  flex-direction: column;
}

.input-fields input{
  /* height: 30px;
  width: 90%; */
  margin: 10px;

}

/* .input-fields input[type="text"]{
  width: 300px;
  background-color: aqua;

} */

.input-fields p{
  margin: 10px 10px 0 10px;

}

.input-wrapper button{
  height: 30px;
  width: 40px;
}

.add-item {
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color:rgb(250, 190, 137);
  border-radius: 20px;
  border: 3px solid rgb(245, 161, 5);
}

.list{
  text-align: center;
  padding: 10px;
  margin: 10px;
  background-color:rgb(250, 190, 137) ;
  border-radius: 20px;
  border: 3px solid rgb(245, 161, 5);
}

.list-item{
  border: 1px solid ;
  display: flex;
  justify-content: space-between;

}
.list-item-content {
  width: 80%;
  padding: 10px;
  text-align: left;
 
}
.list-item-btn{
  
    display: flex;
    justify-content: center;
    align-items: center;
  
}